<div class='container'>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Todo Name</th>
        <th>Link</th>
        <th>Completed?</th>
        <th>Delete</th>
      </tr>
    </thead>
    <% tasks.each do |task| %>
    <tbody>
      <th scope="row"><%= task.id %></th>
      <td><%= task.name %></td>
      <td><a href='/todos/<%=task.id%>'>Todo</a></td>
      <td><%= task.complete %></td>
      <td> <%= button_to('Destroy', 'http://www.example.com',
          method: "delete", remote: true, class: "btn btn-warning", data: { confirm: 'Are you sure?', disable_with: 'loading...' }) %></td>
      <% end %>
    </tbody>
  </table>
</div>

 <!-- <button type="submit" class="btn btn-warning">Delete</button> -->
