<div class='container'>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Todo Name</th>
        <th>Link</th>
        <th>Completed?</th>
        <th>Finish</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    <% tasks.each do |task| %>
    <tr>
      <th scope="row"><%= task.id %></th>
      <td><%= task.name %></td>
      <td><a href='/todos/<%=task.id%>'>Todo</a></td>
      <td><%= task.complete  %></td>
      <td><%=button_to 'Complete', {action: "update", id: task}, class: "btn btn-warning",        :method=>:put %></td>
      <td> <%= button_to('Destroy', { action: "destroy", id: task}, class: "btn btn-warning", data: { confirm: 'Are you sure?', disable_with: 'loading...' }, method: :delete) %></td>
    </tr>
      <% end %>
    </tbody>
  </table>
</div>

 <!-- <button type="submit" class="btn btn-warning">Delete</button> -->
